body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;

	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow: hidden;
}

canvas {
	display: block;
}

.text-box {
	padding: 10px;
	background-color: rgba(40, 40, 40, 0.7);
	border: 1px solid #cccccc52;
	color: rgba(230, 230, 230, 1);
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	text-align: left;
	text-justify: kashida;
}

#info {
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;

	width: 30%;
	max-height: 90vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 20px;

	@media (max-width: 600px) {
		margin: auto;
		top: auto;
		bottom: 10px;
		left: 10px;
		right: 10px;

		width: 90%;
		max-height: 35vh;

		font-size: small;

		flex-direction: column;
		justify-content: center;
		gap: 10px;
		padding: 5px;
	}
}

#info-search {
	display: flex;
	width: 100%;

	@media (max-width: 600px) {
		width: auto;
		flex: 1;
	}
}

#info-search input {
	flex: 1; /* Take up the remaining space */
	border-right: none;
	border-left: none;
	@extend .text-box;
}

#info-search button {
	width: 40px; /* Ensure the button has a width */
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	@extend .text-box;
}

#info-text {
	flex: 1;

	overflow-y: auto;
	max-height: calc(90vh - 60px);
	background-color: rgba(40, 40, 40, 0.85); /* Different background for the info-text */
	@extend .text-box;

	@media (max-width: 600px) {
		max-height: 100%;
		flex: 2;
	}
}

#info a {
	color: #89bcdac7;
}
